
<div class="main-content" >
      <div class="container-fluid">
          <div class="row">
                <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                               <h3> Create your job Offer</h3>
                              </div>
                      <div class="content">
                          <form [formGroup]="offerFormGroup">                               
                                  <div class="row">  
                                        <div class="col-md-2">
                                                <mat-label>Job Name :</mat-label> 
                                        </div>
                                    <div class="col-md-6">
                                       <div class="form-group">
                                            
                                        <mat-select formControlName="nom_poste" placeholder="Select poste"> 
                                               
                                                <mat-option *ngFor="let job of jobs" [value]="job.id">
                                                        {{ job.name }}
                                                      </mat-option>
                                        </mat-select> 
                                        </div>
                                    </div>
                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">
                                            <label>nom_entreprise</label>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                 
                                             <mat-select formControlName="nom_enterprise" placeholder="Select entreprise"> 
                                                    
                                                     <mat-option *ngFor="let enterprise of enterprises" [value]="enterprise.id">
                                                             {{ enterprise.name }}
                                                           </mat-option>
                                             </mat-select> 
                                             </div>
                                         </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">
                                            <label>town</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           
                                            <input formControlName="town" type="text" class="form-control" placeholder="town">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                   
                                       <div class="col-md-1"><label>Skills</label> </div>  
                                       <div class="col-md-1"> <button class="btn-info" (click)="addSkill()">add</button> </div>  
                                       <div class="col-md-6">
                                            <div formArrayName="skills"
                                            *ngFor="let skill of offerFormGroup.get('skills').controls; let i = index;">
                                            <div [formGroupName]="i">
                                                 <input formControlName="name"  class="form-control" type="text" placeholder="Skill Name">
                                            </div>
                                          </div>
                                       </div>
                                    
                                </div>
                                <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="createOffer()">Create Offer</button>
                                <div class="clearfix"></div>
                           </form>
                                
                        </div>
                    </div>
               </div>
          </div>
       </div>
    </div>
  
  
  
