<div class="main-content" >
  <p-messages [(value)]="msgs"></p-messages>
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="content">
          <form [formGroup]="changePasswordFormGroup">
            <div class="form-group">
              <label>Ancien Mot De Passe</label>
              <input formControlName="oldPassword" type="password" class="form-control" placeholder="Ancient Mot De Passe">
            </div>
            <div class="form-group">
              <label >Nouveau Mot De Passe</label>
              <input type="password" class="form-control" placeholder="Nouveau Mot De Passe" formControlName="password">
            </div>

            <div class="form-group">
              <label>Confirmer Votre Mot De Passe</label>
              <input type="password" class="form-control" placeholder="Confirmer Votre Mot De Passe" formControlName="confirmedPassword" >
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="updatePassword()">Modifier Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
