

<mat-toolbar style="height:100px ; background :#1d70b7">
    <mat-toolbar-row style="background : #1d70b7">
      <h1 style="color: white">CVManagement</h1>
      <span class="menu-spacer" style="background : 1f790b7"></span>
      <div style="background : #1d70b7">
        <a mat-button [routerLink]="'/Acceuil'" class="link"> Acceuil </a>
        <a mat-button [routerLink]="'/Profil'" *ngIf="this.authService.loggedIn()" class="link">Profil </a>
        <a mat-button [routerLink]="'/Administration'" *ngIf="this.authService.loggedIn()
                                                        && this.role=='ROLE_ADMIN'" class="link">Administration </a>
        <a mat-button [routerLink]="'/JobSearch'"
                *ngIf="this.authService.loggedIn() &&
                      this.role=='ROLE_USER'" class="link"> JobSearch </a>
        <a mat-button [routerLink]="'/Notification'" *ngIf="this.authService.loggedIn() &&
                                              this.role!=='ROLE_AdMIN'" class="link"> Notification </a>
        <a mat-button [routerLink]="'/EmploiTemps'" *ngIf="this.authService.loggedIn()" class="link">Emploi du Temps </a>
        <a mat-button [routerLink]="'/Login'" *ngIf="!this.authService.loggedIn()" class="link-login" > Login </a>
        <a mat-button [routerLink]="'/JobDemande'"
                    *ngIf="this.authService.loggedIn() &&
                       this.role=='ROLE_ENTERPRISE'" class="link" > JobDemande </a>

        <a mat-button (click)="logout()" *ngIf="this.authService.loggedIn()" class="link right">Logout</a>
        <a  mat-button  *ngIf="this.authService.loggedIn()" [routerLink]="" class="link-img">
            <img *ngIf="loggedUser" class="link" src="http://res.cloudinary.com/dk34qvajk/image/upload/v1513190129/placeholder.png" style="border-radius:15px; height:30px; width:30px;">
               {{loggedUser.username}}
          </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--
 <nav class="navbar navbar-expand-lg fixed-top ">
   <div class="main-div">
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
  <a class="navbar-brand" [routerLink]="'/Acceuil'">Home</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
  <li class="nav-item">
      <a class="nav-link" [routerLink]="'/Profil'" *ngIf="this.authService.loggedIn()">Profil</a>
   </li>
 <li class="nav-item">
     <a class="nav-link " [routerLink]="'/Administration'" *ngIf="this.authService.loggedIn()
                           && this.role=='ROLE_ADMIN'">Administration</a>
  </li>
  <li class="nav-item">
     <a class="nav-link " [routerLink]="'/JobSearch'"
                    *ngIf="this.authService.loggedIn() &&
                           this.role=='ROLE_USER'">JobSearch</a>
   </li>
 <li class="nav-item">
    <a class="nav-link " [routerLink]="'/Notification'" *ngIf="this.authService.loggedIn() &&
                       this.role!=='ROLE_AdMIN'"> Notification </a>
  </li>
 <li class="nav-item">
  <a class="nav-link " [routerLink]="'/EmploiTemps'" *ngIf="this.authService.loggedIn()">Emploi du Temps </a>
</li>
<li class="nav-item right">
    <a class="nav-link " [routerLink]="'/Login'" *ngIf="!this.authService.loggedIn()" > Login </a>
  </li>
  <li class="nav-item">
      <a class="nav-link "[routerLink]="'/JobDemande'"
                  *ngIf="this.authService.loggedIn() &&
                    this.role=='ROLE_ENTERPRISE'" > JobDemande </a>
    </li>
    <li class="nav-item right">
        <a class="nav-link "  *ngIf="this.authService.loggedIn()" [routerLink]="" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link "  *ngIf="this.authService.loggedIn()" [routerLink]="" (click)="logout()">
              <img  src="http://res.cloudinary.com/dk34qvajk/image/upload/v1513190129/placeholder.png" style="border-radius:15px; height:30px; width:30px;">
              Moumni
            </a>
        </li>
 </ul>
 </div>
</div></nav>-->



