<div class="main-content" >
    <p-messages [(value)]="msgs"></p-messages>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
  
                      <div class="content">
                          <form [formGroup]="userFormGroup">
                              <div class="row">
  
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label>Username</label>
                                          <input formControlName="username" type="text" class="form-control" placeholder="Username">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">Adresse Email</label>
                                          <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                      </div>
                                  </div>
                              </div>
  
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Prénom</label>
                                          <input type="text" class="form-control" placeholder="Prénom" formControlName="firstName" >
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label>Nom</label>
                                          <input type="text" class="form-control" placeholder="Nom" formControlName="lastName" >
                                      </div>
                                  </div>
                              </div>
  
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>Adresse</label>
                                          <input type="text" class="form-control" placeholder="Adresse" formControlName="address" >
                                      </div>
                                  </div>
                              </div>
  
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label>Ville</label>
                                          <input type="text" class="form-control" formControlName="city" placeholder="Ville" >
                                      </div>
                                  </div>
  
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label>Code Postal</label>
                                          <input type="number" class="form-control"  formControlName="postalCode"placeholder="Code postal">
                                      </div>
                                  </div>
                              </div>
  
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label>A propos </label>
                                          <textarea rows="5" class="form-control" placeholder="A propos ..."  formControlName="description">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                      </div>
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-info btn-fill pull-right"  (click)="updateUser()">Modifier Profile</button>
                              <div class="clearfix"></div>
                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content" *ngIf="user">
                        <div class="author">
  
                                <img  style=" object-fit: cover;"class="avatar border-gray" src="{{user.image}}" alt="..."/>
  
                                <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                                    <small>{{user.userName}}</small>
                                </h4>
  
                        </div>
                        <p class="description text-center"> {{user.description }}
                        </p>
                    </div>
  
                    <hr>
  
                </div>
                  
  
                 
  
  
            </div>
          </div>
      </div>
  </div>
  
  
  
