<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->
<section  class="details-card">
  <h2 >Offres Disponibles</h2>
  <hr>
  <div class="container">
    <div class="row">


      <div class="col-md-8" *ngFor="let offer of jobOffers">
        <div class="divup" >
          <div class="card-content">
            <div class="card-img">
              <img src="https://placeimg.com/380/230/tech" alt="">

            </div>
            <div class="card-desc">
              <div class="linediv">
                <h4 >Entreprise:</h4>
                <h3 style="color: white">{{offer.enterprise.name}}</h3>
              </div>
              <div class="linediv">
                <h4 >Addresse:</h4>
                <h3 style="color: white">{{offer.town}}</h3>
              </div>
              <div class="linediv">
                <h4 >Poste:</h4>
                <h3 style="color: white">{{offer.job.name}}</h3>
              </div>

              <h4>skills:</h4>
              <div *ngFor="let skill of offer.skills" >
                <h3 style="color: white">{{skill}}</h3>
              </div>
              <hr>
              <a  class="btn-card"  (click)="getJob(offer)" 
                             *ngIf="!isToken(offer);else postule">Postuler</a>
              <ng-template #postule>
                  <a  class="btn-card" style="background-color: rgb(36, 98, 179) " >deja choisie</a>
              </ng-template>

              <a  class="btn-card" style="background-color: goldenrod " (click)="getJob(offer)">Postuler</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- details card section starts from here -->
