<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->
<section class="details-card">
    <h2>Notifcation Details</h2>
    <hr>
    <div class="container">
        <div class="row">
          

                <div class="col-md-4 " >
                    <div class="divup" >
                        <div class="card-content">
                            <div class="card-img">
                                <img src="https://placeimg.com/380/230/tech" alt="">
                               
                            </div>

                            <div class="card-desc">
                                <h4>Bonjour Mahmoud ,vous avez ete selectionné par </h4>
                                <div class="linediv">
                                        <h4 >Entreprise:</h4>
                                        <h3>{{notification.entreprise.name}}</h3>
                                </div>
                                <h4>pour passer un entretien pour un </h4>
                                <div class="linediv">
                                        <h4 >Poste:</h4>
                                        <h3>{{notification.poste}}</h3>
                                </div>
                                 
                                <button class="btn-card danger" >close Notification</button>   
                             </div>
                          </div>
                      </div>
                    </div>
        </div>
    </div>
</section>
<!-- details card section starts from here -->

