<div id="firas_img">
  <div class="firas_txt txtright" style="background-color: rgba(0, 0, 130, 0.1);">
    <h2>Inscription</h2>
    <p>
      test
    </p></div>
  <div class="firas_txt txtleft" style="background-color: rgba(0, 130, 0, 0.1);">
    <h2>Formation en Soft Skills de la Communication</h2>
    <p>Les candidats retenus suite à l’entretien d’embauche suivront un parcours de formation en
      Soft-Skills de la Communication.
      Elle aura pour objectifs de :
      - Doter les jeunes recrus des aptitudes de base en matière de Communication
      - Améliorer leurs communications interpersonnelles en toutes circonstances
      - Savoir gérer les conflits
      - Bien gérer le stress, etc.</p>
  </div>
  <div class="firas_txt txtright" style="background-color: rgba(130, 0, 0, 0.1);">
    <h2>Title 1</h2>
    <p>Text</p>
  </div>
  <div class="firas_txt txtleft" style="background-color: rgba(0, 0, 130, 0.1);">
    <h2>Formation en Soft Skills de la Communication</h2>
    <p>Les candidats retenus suite à l’entretien d’embauche suivront un parcours de formation <br> en
      Soft-Skills de la Communication.
      Elle aura pour objectifs de :
      - Doter les jeunes recrus des aptitudes de base en matière de Communication
      - Améliorer leurs communications interpersonnelles en toutes circonstances
      - Savoir gérer les conflits
      - Bien gérer le stress, etc.</p></div>
  <div type="button" style="margin-left: 20px" class="firas_txt txtright" style="background-color: rgba(0, 130, 0, 0.1);">
    <p>
      <br><br><br><br>
      <button  class="btn btn-lg btn-warning">POSTULER </button></p>
  </div>
</div>
